**[Advanced SQL Home Page](https://www.kaggle.com/learn/advanced-sql)**

---

# Introduction

Now that you know how to query nested and repeated data, you're ready to draw interesting insights from the [GitHub Repos](https://www.kaggle.com/github/github-repos) dataset.  

Before you get started, run the following cell to set everything up.

In [1]:
# Set up feedback system
from learntools.core import binder
binder.bind(globals())
from learntools.sql_advanced.ex3 import *
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

# Exercises

### 1) Who had the most commits in 2016?

GitHub is the most popular place to collaborate on software projects. A GitHub **repository** (or repo) is a collection of files associated with a specific project, and a GitHub **commit** is a change that a user has made to a repository.  We refer to the user as a **committer**.

The `sample_commits` table contains a small sample of GitHub commits, where each row corresponds to different commit.  The code cell below fetches the table and shows the first five rows of this table.

In [2]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "github_repos" dataset
dataset_ref = client.dataset("github_repos", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# Construct a reference to the "sample_commits" table
table_ref = dataset_ref.table("sample_commits")

# API request - fetch the table
sample_commits_table = client.get_table(table_ref)

# Preview the first five lines of the table
client.list_rows(sample_commits_table, max_results=5).to_dataframe()

Using Kaggle's public dataset BigQuery integration.

,commit,tree,parent,author,committer,subject,message,trailer,difference,difference_truncated,repo_name,encoding
0,3eca86e75ec7a7d4b9a9c8091b11676f7bd2a39f,8e1b4380409a85a922ee0d3f622b5dd4d16bcfad,[104a0c02e8b1936c049e18a6d4e4ab040fb61213],"{'name': 'Mark Rutland', 'email': '1db9dd262be...","{'name': 'Catalin Marinas', 'email': '15ce75b2...",arm64: Remove fixmap include fragility,arm64: Remove fixmap include fragility\n\nThe ...,"[{'key': 'Signed-off-by', 'value': 'Mark Rutla...","[{'old_mode': 33188, 'new_mode': 33188, 'old_p...",None,torvalds/linux,None
1,7158627686f02319c50c8d9d78f75d4c8d126ff2,3b4d781bd966f07cad1b67b137f0ff8b89430e9a,[66aa8d6a145b6a66566b4fce219cc56c3d0e01c3],"{'name': 'Will Deacon', 'email': 'b913f13ef92a...","{'name': 'Catalin Marinas', 'email': '15ce75b2...",arm64: percpu: implement optimised pcpu access...,arm64: percpu: implement optimised pcpu access...,"[{'key': 'Signed-off-by', 'value': 'Will Deaco...","[{'old_mode': 33188, 'new_mode': 33188, 'old_p...",None,torvalds/linux,None
2,9732cafd9dc0206479be919baf0067239f0a63ca,c8878035ac9cb6dce592957f12dc1723a583989d,[f3c003f72dfb2497056bcbb864885837a1968ed5],"{'name': 'Jiang Liu', 'email': 'c745fa7b96fe79...","{'name': 'Catalin Marinas', 'email': '15ce75b2...","arm64, jump label: optimize jump label impleme...","arm64, jump label: optimize jump label impleme...","[{'key': 'Reviewed-by', 'value': 'Will Deacon ...","[{'old_mode': 33188, 'new_mode': 33188, 'old_p...",None,torvalds/linux,None
3,4702abd3f9728893ad5b0f4389e1902588510459,32926e7c55ef585d9b9c174a0e5f9ed13ed6bf7e,[ddf28352b80c86754a6424e3a61e8bdf9213b3c7],"{'name': 'Nicolas Pitre', 'email': '408789a210...","{'name': 'Arnd Bergmann', 'email': 'f2c659f019...",ARM: mach-nuc93x: delete,ARM: mach-nuc93x: delete\n\nThis architecture ...,"[{'key': 'Signed-off-by', 'value': 'Nicolas Pi...","[{'old_mode': 33188, 'new_mode': 33188, 'old_p...",None,torvalds/linux,None
4,57bd4b91a6cfc5bad4c5d829ef85293ea63643ea,2ffc2066eb7638e185663e9d849663403229d4e5,[f74c95c20bad8e183e41283475f68a3e7b247af4],"{'name': 'Ben Dooks', 'email': '1177f64998f284...","{'name': 'Ben Dooks', 'email': '1177f64998f284...",[ARM] S3C24XX: Movev udc headers to arch/arm/p...,[ARM] S3C24XX: Movev udc headers to arch/arm/p...,"[{'key': 'Signed-off-by', 'value': 'Ben Dooks ...","[{'old_mode': 33188, 'new_mode': 33188, 'old_p...",None,torvalds/linux,None

Run the next code cell to print the table schema.

In [3]:
# Print information on all the columns in the table
sample_commits_table.schema

[SchemaField('commit', 'STRING', 'NULLABLE', None, ()),
 SchemaField('tree', 'STRING', 'NULLABLE', None, ()),
 SchemaField('parent', 'STRING', 'REPEATED', None, ()),
 SchemaField('author', 'RECORD', 'NULLABLE', None, (SchemaField('name', 'STRING', 'NULLABLE', None, ()), SchemaField('email', 'STRING', 'NULLABLE', None, ()), SchemaField('time_sec', 'INTEGER', 'NULLABLE', None, ()), SchemaField('tz_offset', 'INTEGER', 'NULLABLE', None, ()), SchemaField('date', 'TIMESTAMP', 'NULLABLE', None, ()))),
 SchemaField('committer', 'RECORD', 'NULLABLE', None, (SchemaField('name', 'STRING', 'NULLABLE', None, ()), SchemaField('email', 'STRING', 'NULLABLE', None, ()), SchemaField('time_sec', 'INTEGER', 'NULLABLE', None, ()), SchemaField('tz_offset', 'INTEGER', 'NULLABLE', None, ()), SchemaField('date', 'TIMESTAMP', 'NULLABLE', None, ()))),
 SchemaField('subject', 'STRING', 'NULLABLE', None, ()),
 SchemaField('message', 'STRING', 'NULLABLE', None, ()),
 SchemaField('trailer', 'RECORD', 'REPEATED', None, (SchemaField('key', 'STRING', 'NULLABLE', None, ()), SchemaField('value', 'STRING', 'NULLABLE', None, ()), SchemaField('email', 'STRING', 'NULLABLE', None, ()))),
 SchemaField('difference', 'RECORD', 'REPEATED', None, (SchemaField('old_mode', 'INTEGER', 'NULLABLE', None, ()), SchemaField('new_mode', 'INTEGER', 'NULLABLE', None, ()), SchemaField('old_path', 'STRING', 'NULLABLE', None, ()), SchemaField('new_path', 'STRING', 'NULLABLE', None, ()), SchemaField('old_sha1', 'STRING', 'NULLABLE', None, ()), SchemaField('new_sha1', 'STRING', 'NULLABLE', None, ()), SchemaField('old_repo', 'STRING', 'NULLABLE', None, ()), SchemaField('new_repo', 'STRING', 'NULLABLE', None, ()))),
 SchemaField('difference_truncated', 'BOOLEAN', 'NULLABLE', None, ()),
 SchemaField('repo_name', 'STRING', 'NULLABLE', None, ()),
 SchemaField('encoding', 'STRING', 'NULLABLE', None, ())]

Write a query to find the individuals with the most commits in this table in 2016.  Your query should return a table with two columns:
- `committer_name` - contains the name of each individual with a commit (from 2016) in the table
- `num_commits` - shows the number of commits the individual has in the table (from 2016)

Sort the table, so that people with more commits appear first.

**NOTE**: You can find the name of each committer and the date of the commit under the "committer" column, in the "name" and "date" child fields, respectively.

In [4]:
# Write a query to find the answer
max_commits_query = """
                    SELECT committer.name AS committer_name, COUNT(1) AS num_commits
                    FROM `bigquery-public-data.github_repos.sample_commits`
                    WHERE EXTRACT(YEAR FROM committer.date) = 2016
                    GROUP BY committer_name
                    ORDER BY num_commits DESC
                    """

# Check your answer
q_1.check()

          committer_name  num_commits
0     Greg Kroah-Hartman         3545
1        David S. Miller         3120
2  TensorFlower Gardener         2449
3         Linus Torvalds         2424
4        Benjamin Pasero         1127

Correct

In [5]:
# Lines below will give you a hint or solution code
#q_1.hint()
#q_1.solution()

### 2) Look at languages!

Now you will work with the `languages` table.  Run the code cell below to print the first few rows.

In [6]:
# Construct a reference to the "languages" table
table_ref = dataset_ref.table("languages")

# API request - fetch the table
languages_table = client.get_table(table_ref)

# Preview the first five lines of the table
client.list_rows(languages_table, max_results=5).to_dataframe()

                   repo_name                         language
0           maldevel/Unitest  [{'name': 'C', 'bytes': 14082}]
1      Sbalbp/Pidgin-Plugins   [{'name': 'C', 'bytes': 4858}]
2  seanjennings/Lottery-Game  [{'name': 'C', 'bytes': 10717}]
3     harrisi/bookish-eureka   [{'name': 'C', 'bytes': 8524}]
4                dacav/RoRom  [{'name': 'C', 'bytes': 13436}]

Each row of the `languages` table corresponds to a different repository.  
- The "repo_name" column contains the name of the repository,
- the "name" field in the "language" column contains the programming languages that can be found in the repo, and 
- the "bytes" field in the "language" column has the size of the files (in bytes, for the corresponding language).

Run the following code cell to print the table schema.

In [7]:
# Print information on all the columns in the table
languages_table.schema

[SchemaField('repo_name', 'STRING', 'NULLABLE', None, ()),
 SchemaField('language', 'RECORD', 'REPEATED', None, (SchemaField('name', 'STRING', 'NULLABLE', None, ()), SchemaField('bytes', 'INTEGER', 'NULLABLE', None, ())))]

Assume for the moment that you have access to a table called `sample_languages` that contains only a very small subset of the rows from the `languages` table: in fact, it contains only three rows!  This table is depicted in the image below.

![](https://i.imgur.com/qAb5lZ2.png)

How many rows are in the table returned by the query below?

![](https://i.imgur.com/Q5qYAtz.png)

Fill in your answer in the next code cell.

In [8]:
# Fill in the blank
num_rows = 6

# Check your answer
q_2.check()

Correct

In [9]:
# Lines below will give you a hint or solution code
#q_2.hint()
#q_2.solution()

### 3) What's the most popular programming language?

Write a query to leverage the information in the `languages` table to determine which programming languages appear in the most repositories.  The table returned by your query should have two columns:
- `language_name` - the name of the programming language
- `num_repos` - the number of repositories in the `languages` table that use the programming language

Sort the table so that languages that appear in more repos are shown first.

In [10]:
# Write a query to find the answer
pop_lang_query = """
                 SELECT language.name AS language_name, COUNT(*) AS num_repos
                 FROM `bigquery-public-data.github_repos.languages`,
                     UNNEST(language) AS language
                 GROUP BY language_name
                 ORDER BY num_repos DESC
                 """

# Check your answer
q_3.check()

  language_name  num_repos
0    JavaScript    1109178
1           CSS     822680
2          HTML     786911
3         Shell     641568
4        Python     551368

Correct

In [11]:
# Lines below will give you a hint or solution code
#q_3.hint()
#q_3.solution()

### 4) Which languages are used in the repository with the most languages?

For this question, you'll restrict your attention to the repository with name `'polyrabbit/polyglot'`.

Write a query that returns a table with one row for each language in this repository.  The table should have two columns:
- `name` - the name of the programming language
- `bytes` - the total number of bytes of that programming language

Sort the table by the `bytes` column so that programming languages that take up more space in the repo appear first.

In [12]:
# Your code here
all_langs_query = """
                  SELECT language.name AS name, language.bytes AS bytes
                  FROM `bigquery-public-data.github_repos.languages`,
                      UNNEST(language) AS language
                  WHERE repo_name = 'polyrabbit/polyglot'
                  ORDER BY bytes DESC
                  """

# Check your answer
q_4.check()

                  name   bytes
0                Lasso  834726
1                    C  819142
2              Mercury  709952
3          Objective-C  495392
4  Game Maker Language  298131

Correct

In [13]:
# Lines below will give you a hint or solution code
#q_4.hint()
#q_4.solution()

# Keep going

Learn how to make your queries **[more efficient](https://www.kaggle.com/alexisbcook/writing-efficient-queries)**.

---
**[Advanced SQL Home Page](https://www.kaggle.com/learn/advanced-sql)**





*Have questions or comments? Visit the [Learn Discussion forum](https://www.kaggle.com/learn-forum) to chat with other Learners.*